.al-navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position:sticky;
  top:0;
  z-index: 1071;
}

.al-sidebar {
  @media (min-width:768px) {
    border-right: 1px solid rgba(0,0,0,.1 );
    height: calc(100vh - 4rem);
    padding: 0;
    position: sticky;
    top: 4rem;
    z-index: 1000;
  }
}

.al-content {
  margin: 0 auto;
  padding: 0;
}

.al-content-header {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.al-sidenav {
  display: block;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.al-sidenav-item {
  margin: 0.5rem 0 0;
}

.al-sidenav-item:hover {
  background-color: #F4F8FA;
}

.al-sidenav-link {
  display: block;
  margin: 0 0 0 2rem;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration : none;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.al-form-card {
  margin: 1rem auto;
}

.al-input-text {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
}

.al-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.al-card-body {
  height: 50vh;
  overflow: auto;
  padding: 0.5rem;
}

.al-checkbox {
  height: 2rem;
}